.btnTrans{
    width: 300px;
    height: 100px;
    margin: 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    background: #1f2937;
    color: white;
    cursor: pointer;
    font-size: 25px;
}

.caja-transacciones input{
    width: 30%;
    align-self: center;
    margin-top: 10px;
    border-radius: 10px;
    height: 40px;
    border: 1px solid #3B475C;
    background-color: #111827;
    color: white;
    padding-left: 10px;
    font-size: 16px;
}

.caja-transacciones h4{
    font-size: 24px;
    margin-bottom: -20px;
}

.caja-transacciones h6{
    margin-top: -40px;
}

.volver{
    width: 120px;
    height: 40px;
    font-size: 15px;
}
